.MainContent{
    border-image-slice: 35 35 35 35;
    border-image-source: url('../../img/borda-2.svg');
    border-image-width: 40px 40px 40px 40px;
    padding: 3em;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

h3{
    margin: 0;
}