h1,p{
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    grid-template-rows: 1.5fr .5fr;
}

.foto-perfil{
    width: 80%;
    height: auto;
    rotate: -20deg;

}

.header-bio{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 3em 3em 0 0;
    border-image-slice: 35 35 35 35;
    border-image-source: url('../../img/header-links.svg');
    border-image-width: 50px 50px 50px 50px;
}

.bio-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 3em;
}
.bio-title{
    text-align: center;
    align-self: center;
}
